<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>MRS using ML</title>
</head>

<body>

    <div class="leftContainer">
        <h1>Sign in</h1>
        <p>Create you new account in seconds...</p>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }} {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.email.label_tag }} {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.password1.label_tag }} {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.password2.label_tag }} {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit">Register</button>
        </form>
        

        <p>Already have an account? <a href="/login">Login</a></p>
    </div>

    <div class="rightContainer">
        <h1>OTT Platform with Movie Recommendation System</h1>
        <p>Your Movie Buddy: Simple Suggestions for Epic Nights!</p>
        <img src="{% static 'image 1.svg' %}" alt="" srcset="">
    </div>

</body>

</html>