<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>MRS using ML</title>
</head>

<body>

    <div class="leftContainer">
        <h1>Login</h1>
        <p>Login your account in a seconds...</p>

        <form action="" method="post">

            {% csrf_token %}

            {{form}}

            <span>
                <p>
                    <input type="checkbox" name="kcheckbox" id="kcheckbox">
                    Keep me logged in
                </p>
                <a href="forgotPassword">Forgot Password</a>
            </span>

            <button type="submit">Login</button>

        </form>



        <p>Don't have an account? <a href="/">Sign in</a></p>
    </div>

    <div class="rightContainer">
        <h1>OTT Platform with Movie Recommendation System</h1>
        <p>Your Movie Buddy: Simple Suggestions for Epic Nights!</p>
        <img src="{% static 'image 1.svg' %}" alt="" srcset="">
    </div>

</body>

</html>