<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content List</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'content_list.css' %}">
</head>

<body>
    <nav>
        <a href="/admin">
            <h1>Admin Panel</h1>
        </a>
        <div class="profileContainer">
            <img src="{% static 'icons/User.png' %}" alt="" srcset="" class="navUserImage">
            <p>{{ user_info.username }}</p>
            <form action="/logout" method="post">
                {% csrf_token %}
                <button type="submit" class="logoutButton">
                    <img src="{% static 'icons/Logout.png' %}" alt="" srcset="" class="navLogoutImage">
                </button>
            </form>
        </div>
    </nav>

    <div class="dashboard">
        <h1>Content List</h1>
        <form method="get" action="{% url 'content-list' %}">
            <input class="serchInput" type="text" name="q" placeholder="Search by title or IMDb ID" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>IMDb ID</th>
                    <th>Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                <tr>
                    <td>
                        <img src={{content.poster}} alt="" srcset="" class="suggestionImage">
                    </td>
                    <td>{{ content.title }}</td>
                    <td>{{ content.imdbid }}</td>
                    <td>{{ content.year }}</td>
                    <td>
                        <a href="{% url 'content-update' content.pk %}">Edit</a>
                        <a href="{% url 'content-delete' content.pk %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">&laquo; first</a>
                <a
                    href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a
                    href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
                <a
                    href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</body>

</html>